* {
    box-sizing: border-box;
}

body {
    background:rgb(211, 214, 213);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 20px;
    padding: 20px;
}
header {
    background: #ffffff;
    text-align: center;
    clear: both;

}


header::after {
    content: '';
    display: table;
    clear: both;
}

.navbar { 
    width: 960px;
    margin: 20px auto;
}

.Name {
    background: #4aaaa5;
    color: #ffffff;
    padding: 20px;  
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    border-left: 10px;

}


.links {
    float: right;
    background: #ffffff;
    padding: 20px;
    list-style: none;
}

li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 20px;

    position: relative;
}

a {
    color: #777777;
    text-decoration: none;
}

a:hover {
    color: red;
}
a::before {
    content: '';
    display: block;
    height: 5px;
    background: rgb(78, 76, 76);

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

a:hover::before {
    width: 100%;
}

main {
    clear: both;
    overflow: auto;
    margin: 0 auto;
    background:#ffffff;
    color: #777777;
    width: 960px;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.container {
    width: 900px;
    margin: 20px;
    
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}


#image {
    float: left;
    margin: 10px 20px 10px 10px;
}

p {
    padding-top: 5px;
    margin-top: 5px;
   
}

hr {
    margin: 20px
    color: rgb(211, 214, 213);
    width:960px;
}

footer {
    clear: both;
    overflow: 0 auto;
    margin: 0 auto;
    text-align: center;
    background: #666666;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 10px;
    border-top: 5px solid #4aaaa5;
    height: auto;


}

 .contact-main {
    clear: both;
    overflow: auto;
    margin: 0 auto;
    background:#ffffff;
    color: #777777;
    width: 960px;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.container-form {
    width: 900px;
    margin: 10px;
}

.contact-title {
    width: 900px;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}


#label-name {
    padding: 30px 0 10px 0;
    margin-top: 30px;
}


#name {
    width: 900px;
    margin: 5px 0 13px 0;
    border-color: rgb(211, 214, 213);
    border-width: thin;
    padding: 5px 0 5px 0;
}

#email {
    width: 900px;
    margin: 5px 0 13px 0;
    border-color:rgb(211, 214, 213);
    padding: 5px 0 5px 0;
    border-width: thin;
}

#textarea {
    width: 900px;
    margin: 5px 0 13px 0;
    border-color: rgb(211, 214, 213);
}

#sub {
    background: #4aaaa5;
    color: #ffffff;
    padding: 8px 20px 8px 20px;
}



.container-portfolio {
    clear: both;
    overflow: auto;
    margin: auto;
    background:#ffffff;
    color: #777777;
    width: 960px;
    height: fit-content;
    padding: 20px;}
   
    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    
    }
    .text-wrapper {
        color:#ffffff;
        background-color: #4aaaa5;
        font-family: Arial, Helvetica, sans-serif;
        font-size:15px;
        width:125px;
        position: relative; 
        margin-top:-40px;
    
}
.text-wrapper p {
    text-align: center;
    color: #ffffff;
}

@media only screen and (max-width: 980px) {
    .container {
        padding: 0 20px;
        max-width: 768px;
    }
        
    .main {
        max-width:420px;
      
    }
}
.container-portfolio {
    padding:0 20px;
    max-width: 768px;
}